evfs-sandbox/
evfs-sandbox.img

linux-6.8.tar.xz

linux-6.8/*
!linux-6.8/fs/
linux-6.8/fs/*
!linux-6.8/fs/ext4
linux-6.8/fs/ext4/*
!linux-6.8/fs/ext4/ioctl.c
!linux-6.8/fs/ext4/ext4.h
!linux-6.8/fs/ext4/ext4-evfs.h
!linux-6.8/fs/ext4/ext4-evfs.c
!linux-6.8/fs/ext4/Makefile
!linux-6.8/fs/ext4/namei.c
!linux-6.8/fs/ext4/extents.c

workarea/add_dentry
workarea/delete_dentry
workarea/get_inode_extents
workarea/inode_remap
workarea/iter_freespace
workarea/iter_inode
workarea/read_dentry
workarea/test_data_bitflip
workarea/test_hello_ioctl
workarea/test-update-behaviour
workarea/update_dentry
workarea/build-log.txt

workarea/tests/loop_remap
workarea/tests/test_inode_remap
workarea/tests/verify-extents

config-backup